@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@font-face {
    font-family: "Retro Gaming";
    src: url("../fonts/Retro-Gaming/Retro-Gaming.ttf") format("truetype");
}

:root {
    --font-text: "Play", sans-serif;
    --font-title: "Retro Gaming", monospace;
 
    --color-background: #201533;
    --color-black: #000;
    --color-white: #FFF;
    --color-light-gray: #8B8B8B;
    --color-lighter-gray: #C1C1C1;
    --color-blue-shadow-text: #639BFF;
    --color-blue-deep-sea: #3898FF;
    --color-blue-deep-sea-shadow: #1162B9;
    --color-yellow-detach: #FBF236;
    --color-pink-button: #F1A8AE;
    --color-pink-shadow-button: #BA697B;
    --color-green-button: #66C5DD;
    --color-green-shadow-button: #4D95A6;
    --color-text-shadow: rgba(0, 0, 0, 0.8);

    --container-width: 1200px;
    --container-clearance: 20px;
}

/* BASIC CONFIG */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    font-family: var(--font-text);
    color: var(--color-white);
    background-color: var(--color-background);
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

a {
    text-decoration: none;
    color: var(--color-blue-deep-sea);
}

p {
    line-height: 1.4em;
}

img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

input {
    padding: 10px;
    background-color: var(--color-white);
    border: 0 solid var(--color-light-gray);
    border-left-width: 4px;
    border-bottom-width: 4px;
}

input::placeholder {
    color: var(--color-lighter-gray);
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: var(--container-clearance);
}

.button {
    display: inline-block;
    background-color: var(--color-lighter-gray);
    border: 0 solid var(--color-light-gray);
    border-left-width: 4px;
    border-bottom-width: 4px;
    color: var(--color-white);
    padding: 10px 36px;
    font-family: var(--font-title);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button.button-blue {
    background-color: var(--color-blue-deep-sea);
    border-color: var(--color-blue-deep-sea-shadow);
}

.button.button-pink {
    background-color: var(--color-pink-button);
    border-color: var(--color-pink-shadow-button);
}

.button.button-shadow-white {
    box-shadow: -3px 3px 0 var(--color-white);
}

.button:hover {
    transform: scale(1.05);
}

.embed {
    max-width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.embed > * {
    width: 100%;
    height: 100%;
}

.text-box > *:not(:last-child) {
    margin-bottom: 20px;
}

/* HEADER / COUNTDOWN SECTION */
.header {
    padding-block: 10px 16px;
    background-color: var(--color-lighter-gray);
    color: var(--color-black);
    border: 0 solid var(--color-white);
    border-top-width: 3px;
    border-right-width: 3px;
    box-shadow: 6px -6px 0 var(--color-light-gray) inset;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.header__title {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.header__title img {
    width: 40px;
    animation: hourglass-spin 3s steps(1) infinite;
    display: none;
}

.header__title h1 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

.header__countdown {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    column-gap: 6px;
}

.header__countdown-counter {
    background-color: var(--color-white);
    font-family: var(--font-title);
    text-align: center;
    border: 0 solid var(--color-black);
    border-top-width: 3px;
    border-left-width: 3px;
    padding: 6px;
    font-size: 0.8em;
}

.header__countdown-counter span {
    display: block;
}

.header__countdown-counter .counter {
    font-size: 1.2em;
}

.header__countdown-counter .label {
    font-size: 0.8em;
}

@keyframes hourglass-spin {
    0% {
        transform: rotate(180deg) scaleX(-1);
    }

    14% {
        transform: rotate(135deg);
    }

    28% {
        transform: rotate(90deg);
    }

    42% {
        transform: rotate(45deg);
    }

    56% {
        transform: rotate(0deg);
    }

    84% {
        transform: rotate(180deg) scaleX(-1);
    }
}

/* HERO SECTION */
.hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    padding-bottom: 120px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Group-152-5.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    mix-blend-mode: lighten;
}

.hero__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.hero__info {
    flex-basis: 100%;
}

.hero__title h1 {
    display: none;
}

.hero__title img {
    width: 200px;
    margin-inline: auto;
}

.hero__headline {
    margin-bottom: 20px;
    font-family: var(--font-title);
    font-size: 1.6em;
    line-height: 1.1em;
    text-shadow: 1px 1px 0 var(--color-blue-shadow-text);
    text-align: center;
}

.hero__headline span {
    color: var(--color-pink-button);
    text-shadow: 1px 1px 0 var(--color-white);
}

.hero__text {
    margin-bottom: 20px;
    text-align: center;
}

.hero__video {
    flex-basis: 100%;
    min-height: 300px;
    max-width: 600px;
    margin-inline: auto;
}

.hero__video-frame {
    position: relative;
}

.hero__video-frame img {
    pointer-events: none;
}

.hero__video-embed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero__subscribe {
    flex-basis: 100%;
}

.hero__subscribe form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 600px;
    margin-inline: auto;
}

.hero__subscribe input {
    flex-basis: 100%;
}

.hero__subscribe .button {
    flex-basis: 100%;
}

.hero__subscribe .button:hover {
    background-color: var(--color-pink-button);
    border-color: var(--color-pink-shadow-button);
}

/* DESCRIPTION SECTION */
.description {
    padding-block: 50px;
    margin-top: -20px;
    background-color: var(--color-blue-deep-sea);
    position: relative;
}

.description .bubbles .bubble {
    position: absolute;
    pointer-events: none;
}

.description .bubbles .bubble-1 {
    top: 20px;
    left: 30px;
    width: 50px;
}

.description .bubbles .bubble-2 {
    left: 90px;
    top: 60px;
    width: 40px;
}

.description .bubbles .bubble-3 {
    bottom: 160px;
    right: 40px;
    width: 50px;
}

.description__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.description__row:first-child {
    margin-block: 80px 50px;
}

.description__image-wrapper {
    /* flex-basis: 100%; */
    display: none;
}

.description__image {
    width: 75%;
    max-width: 250px;
    margin: auto;
}

.description__info {
    flex-basis: 100%;
    max-width: 500px;
    margin-inline: auto;
    text-align: center;
}

.description__info-title {
    margin-bottom: 20px;
    color: var(--color-yellow-detach);
    text-transform: uppercase;
    text-shadow: -2px 2px 0 var(--color-blue-deep-sea-shadow);
}

.description__info-text {
    margin-bottom: 20px;
}

.description__info-cta {
    margin-top: 20px;
}

.description__info-cta .button {
    width: 100%;
    text-shadow: 0 0 8px var(--color-text-shadow);
}

/* ABOUT SECTION */
.about {
    padding-block: 50px 90px;
    background-image: url("../images/background-beneficios--e1718896528624.webp");
    background-repeat: no-repeat;
    background-position: -220px 40px;
    background-size: cover;
}

.about__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -90px;
}

.about__image {
    flex-basis: 100%;
}

.about__image-wrapper {
    margin: auto;
    width: fit-content;
}

.about__image .logo {
    width: 140px;
    margin-left: 60px;
}

.about__image .character {
    height: 540px;
    margin-top: -180px;
}

.about__info {
    flex-basis: 100%;
}

.about__info-title {
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: center;
}

.about__cta {
    background-image: url("../images/Mask-group-7-e1718897337710.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.about__cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    min-height: 558px;
    max-width: 600px;
    margin-inline: auto;
    padding-inline: 20px;
}

.about__cta-title {
    color: var(--color-pink-button);
    text-shadow: -2px 2px 0 var(--color-black);
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px var(--color-black);
}

.about__cta-text {
    color: var(--color-black);
}

/* FOOTER SECTION */
.footer {
    padding-block: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer__container p {
    font-size: 0.8em;
    text-align: center;
}

/* RESPONSIVE DESIGN */
/* Breakpoint Small */
@media screen and (min-width: 576px) {
    .hero__container {
        row-gap: 40px;
    }

    .hero__video-embed {
        width: 96%;
        height: 82%;
    }

    .hero__subscribe form {
        flex-wrap: nowrap;
    }

    .hero__subscribe input {
        flex-basis: 70%;
    }

    .hero__subscribe .button {
        flex-basis: 30%;
    }
}

/* Breakpoint Medium */
@media screen and (min-width: 768px) {
    .header__countdown, .header__title {
        flex-basis: unset;
    }

    .header__title img {
        display: block;
    }

    .about {
        background-position-x: -120px;
    }

    .about__cta-title {
        font-size: 1.6em;
    }
}

/* Breakpoint Large */
@media screen and (min-width: 992px) {
    .header__title h1 {
        font-size: 1.2em;
    }

    .header__countdown {
        column-gap: 10px;
    }

    .header__countdown-counter {
        font-size: 1em;
    }

    .hero {
        min-height: 540px;
    }

    .hero::before {
        background-position: bottom right;
    }

    .hero__title img {
        margin: 0;
    }

    .hero__info {
        flex-basis: 45%;
    }

    .hero__headline, .hero__text  {
        text-align: start;
    }

    .hero__video {
        flex-basis: 400px;
        max-width: none;
        margin: 0;
    }

    .hero__subscribe {
        flex-basis: 45%;
    }

    .description .bubbles .bubble-1 {
        width: 70px;
        top: 60px;
    }

    .description .bubbles .bubble-2 {
        left: 120px;
        top: 120px;
        width: 50px;
    }

    .description__row:first-child {
        flex-direction: row-reverse;
        margin-block-start: 0;
    }

    .description__info-image {
        display: none;
    }

    .description__image-wrapper {
        flex-basis: 50%;
        display: block;
    }

    .description__image {
        max-width: none;
    }

    .description__row:last-child img {
        margin-bottom: -100px;
    }

    .description__info {
        flex-basis: 50%;
        max-width: none;
        text-align: start;
    }

    .about__content {
        flex-direction: row-reverse;
    }

    .about__image, .about__info {
        flex-basis: 50%;
    }

    .about__info-title {
        text-align: start;
        font-size: 1.4em;
    }

    .about__cta {
        margin-top: -60px;
    }
}

/* Breakpoint Extra Extra Large */
@media screen and (min-width: 1200px) {
    .about__content {
        margin-bottom: 60px;
    }

    .about__cta {
        background-size: contain;
        margin-top: -180px;
    }
}